body{
    background-color: antiquewhite;
}

a{
    text-decoration: none;
    color: cadetblue;
}

.text-columns{
column-count: 3;
column-gap: 40px;
column-rule: 1px solid ;
}

h2{
    color: olivedrab;
}

h3{
    color: antiquewhite;
}

p{
    color: rgb(121, 17, 17);
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    margin-top: 40px;
    float: left;
    width: 25%;
    padding: 10px;
}