body{
    background-color: antiquewhite;
}

.text-columns{
column-count: 3;
column-gap: 40px;
column-rule: 1px solid ;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    margin-top: 40px;
    float: left;
    width: 25%;
    padding: 10px;
    /* background-color: antiquewhite; */
}